.navbar {
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: coral;
  margin: auto;
}

.card {
  background-color: rgb(255, 190, 143);
  margin: auto;
  width: 50%;
  margin-top: 4px;
  padding: 10px;
}

.label {
  margin: 8px;
}

.inputText {
  margin: 20px;
}

.btn {
  color: black;
  background-color: coral;
  margin: 2px;
  padding: 4px;
}
